csharp/ConsoleTest/ConsoleApplication1/ConsoleApplication1/Service References/ServiceReferenceRuleSegmentManager/RuleSegmentManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Exception" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Microsoft.Advertising.BehaviorTargeting.SegmentStudio.Exception" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServerFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Actor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodeBase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomSource" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="ExceptionNumber" type="xs:int" />
      <xs:element minOccurs="0" name="ExceptionType" type="tns:ExceptionType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerFault" nillable="true" type="tns:ServerFault" />
  <xs:simpleType name="ExceptionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="UserException" />
      <xs:enumeration value="AppException" />
      <xs:enumeration value="SysException" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ExceptionType" nillable="true" type="tns:ExceptionType" />
</xs:schema>